* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0a0a0a;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.app {
  min-height: 100vh;
  padding: 2rem;
  color: white;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2rem;
  letter-spacing: 2px;
}

button {
  background: #ff3c00;
  color: white;
  border: none;
  padding: 0.9rem 1.2rem;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.note {
  position: relative;
  width: 260px;
  height: 280px;
  background: #ffe66d;
  border-radius: 8px;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  transition: 0.3s ease;
}

textarea {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  resize: none;
  outline: none;
  font-size: 1rem;
  color: #e2c9c9;
  line-height: 1.5;
}

textarea::placeholder {
  color: rgba(241, 217, 217, 0.5);
}

.burn {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;

  background: linear-gradient(
    to right,
    rgba(74, 0, 94, 0.95),
    rgba(47, 26, 152, 0.8),
    rgba(83, 125, 142, 0.3),
    transparent
  );

  transform-origin: left;
  transition: width 0.1s linear;
}
.gone {
  position: absolute;
  inset: 0;
  background: black;
  color: rgb(234, 118, 118);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 5px;
}